body{
  background-color: rgba(14, 27, 216, 0.2);
  font-family: 'Roboto', sans-serif;
}
.first{
  background: rgba(215, 100, 238, 0.2);
  display: block;
  margin: 0 auto;
  width: 21.5cm;
  height: 30.7cm; 
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  
}
.profile{
  width: 150px;
  height: 150px;
  margin: 16px 32px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-bottom:3px solid #273746;
  
}
.profile-area{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
  cursor: pointer;
  border-radius: 12px;
  border-bottom:3px solid #273746;
}
.activeCard {
 color: #273746;
 background: #566573;
}
.center-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text{
  text-align: center;
  border-bottom-color: #273746;
  text-shadow: 1 4px 8px 0 rgba(123, 241, 27, 0.2);
  
  
}
.text1{
  box-sizing: border-box;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(34, 238, 15, 0.2);
  float: left;
  border-radius: 12px;
  border-bottom:3px solid #273746;
}
.click{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}

.button-show{
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  color: black;
  background: #808B96; 
  border-radius: 12px;
  text-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
  border-bottom:3px solid #273746;
}
.button-show:hover{
  box-shadow:2px 2px 8px #000000;
  background: whitesmoke;
}

.center-box{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.box-myname{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 12px;
  border-bottom:3px solid #273746;
}


.second{
  padding-top:10px;
}
.box{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: #566573;
  border-radius: 12px;
}
.button{
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #273746;
  border-radius: 12px;
  text-shadow:0 4px 8px 0 rgba(0,0,0,0.2);

}
.ans{
  text-align: center;
  color: white;
  text-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
}
.button-area{
  display: flex;
  padding: 10px 300px;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
}
.button:hover{
  box-shadow:2px 2px 8px #000000;
  background: #808B96;
  border: 2px solid #273746;
}
.win{
  display: flex;
  justify-content: center;
  color: white;
  text-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
}

