.area{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(134, 12, 63, 0.2);
}
.text{
    text-align: center;
}
.area2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(21, 107, 0);
}